.resume {
  width: 80%;
  border: 1px solid var(--light);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.resume a {
  color: rgb(3, 163, 226);
}
.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
.top-left .name {
  font-size: 3em;
  color: var(--sp-col);
  transition: all 0.2s ease;
}
.top-left .name:hover {
  letter-spacing: 5px;
}
.top-left .links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.top-right .contact-det {
  transition: all 0.3s ease-in-out;
}
.top-right .contact-det:hover {
  letter-spacing: 2px;
}
.data-box {
  transition: all 0.3s ease;
}
.data-box:hover {
  padding: 0.2em 0.5em;
  border: 1px solid var(--sp-col);
  transform: scale(1.1, 1.1);
  background-color: var(--dark-1);
}
.resume:hover .data-box:not(:hover){
  filter: blur(2px);
}
.data-box h1 {
  width: 100%;
  color: var(--sp-col);
  border-bottom: 1px solid var(--sp-col);
  padding-bottom: 0.4em;
  margin: 0.5em 0;
}
.data-box .rskills {
  width: 100%;
  line-height: 1.5em;
}
.data-box .rskills span {
  margin-left: 1em;
}
.data-box .trainings {
  margin-left: 2em;
}
.data-box .rprojects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}
.data-box .rproject {
  width: 30%;
  min-width: 200px;
  border: 1px solid var(--sp-col);
  text-align: center;
  padding: 0.2em;
}
.rproject h4 {
  text-align: center;
}
.rproject ul li {
  list-style-type: none;
}
.rproject .tech {
  text-align: center;
  font-size: 0.8em;
}
.data-box:nth-of-type(7){
  transition: none !important;
  transform: scale(1,1);
  border: none;
  padding: 0;
}
.data-box:nth-of-type(7) .rproject{
  transition: all .3s ease;
  border-radius: 8px;
}
.data-box:nth-of-type(7) .rproject:hover{
  transform: scale(1.2, 1.2);
  background-color: var(--dark-1);
}
.data-box:nth-of-type(7):hover .rproject:not(:hover){
  filter: blur(2px);
}
.warn{
  text-align: center;
  color: yellow;
  margin: .5em 0;
  padding: 0 .1em;
  display: none;
}
/* media query */
@media all and (width < 650px) {
  .resume {
    width: 98%;
  }
  .name,
  .contact-det,
  .data-box {
    transition: none !important;
  }
  .name:hover,
  .contact-det:hover {
    letter-spacing: 0px !important;
  }
  .data-box:hover {
    padding: 0;
    border: none;
    transform: none;
    background-color: none;
  }
  .resume:hover .data-box:not(:hover){
    filter: none;
  }
  .data-box:nth-of-type(7) .rproject{
    transition: none !important;
    border-radius: 0;
  }
  .data-box:nth-of-type(7) .rproject:hover{
    transform: none;
    background-color: none;
  }
  .data-box:nth-of-type(7):hover .rproject:not(:hover){
    filter: none;
  }
  .warn{
    display: block;
  }
}
@media all and (width < 550px) {
  .rpeojects {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .rproject {
    width: 100% !important;
  }
}
