.resume {
  width: 80%;
  border: 1px solid var(--light);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.resume a{
    color: rgb(3, 163, 226);
}
.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
.top-left .name {
  font-size: 3em;
  color: var(--sp-col);
}
.top-left .links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.data-box h1 {
  width: 100%;
  color: var(--sp-col);
  border-bottom: 1px solid var(--sp-col);
  padding-bottom: 0.4em;
  margin: 0.5em 0;
}
.data-box .rskills {
  width: 100%;
  line-height: 1.5em;
}
.data-box .rskills span{
  margin-left: 1em;
}
.data-box .trainings {
  margin-left: 2em;
}
.data-box .rprojects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}
.data-box .rproject {
  width: 30%;
  min-width: 200px;
  border: 1px solid var(--sp-col);
  text-align: center;
  padding: .2em;
}
.rproject h4 {
  text-align: center;
}
.rproject ul li{
  list-style-type: none;
}
.rproject .tech {
  text-align: center;
  font-size: 0.8em;
}

/* for theme switch */
.th-switch{
    position: absolute;
    right: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* Theme switch ends */

/* media query */
@media all and (width < 650px){
  .resume{
    width: 98%;
  }
}
@media all and (width < 550px){
  .rpeojects{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .rproject{
    width: 100% !important;
  }
}