:root{
  --dark: rgb(41, 40, 40);
  --light: rgb(201, 191, 191);
  --sp-col: rgb(10, 138, 212);
  --dark-1: rgb(32, 31, 31);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.navbar{
  width: 100%;
  min-height: 50px;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 20px 4px rgb(39, 38, 38);
}
.logo{
  font-size: 2em;
  color: var(--sp-col);
  font-weight: bolder;
  cursor: pointer;
}
.openMenu, .closeMenu, #menu{
  font-size: 2em;
  color: var(--sp-col);
  cursor: pointer;
  display: none;
}
.mainMenu{
  width: 60%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mainMenu a{
  text-decoration: none;
  color: var(--light);
  font-weight: bold;
}

.mainMenu a:hover{
  transition: 400ms;
  padding-bottom: .5em;
  color: var(--sp-col);
  border-bottom: 1px solid var(--sp-col);
}
.active{
  color: var(--sp-col) !important;
  border-bottom: 1px solid var(--sp-col);
  padding-bottom: .5em;
}

.container{
  width: 100%;
  min-height: 92.1vh;
  background-color: var(--dark-1);
  color: var(--light);
  padding-bottom: .5em;
}
.container > h1{
  margin-bottom: .5em;
}
.image{
  width: 100%;
  min-height: 92.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1em;
  background-image: url('/image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.image h1{
  color: goldenrod;
}
.btns{
  display: inline-block;
  margin-bottom: 2em;
}
.btns a:nth-of-type(1){
  background-color: green;
  color: white;
}
.btns a:nth-of-type(2){
  background-color: orangered;
  color: white;
}

.image  a{
  padding: .5em .5em;
  margin: 0 1em;
  text-decoration: none;
  font-weight: bold;
}
.about{
  width: 100%;
  display: flex;
}
.about .img, .data{
  width: 50%;
  /* border: 1px solid white; */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5em;
  padding-right: 2em
}
.about .img img{
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--sp-col);
  height: auto;
  filter: drop-shadow(0 0 0.75em var(--sp-col));
  animation: bs 1s ease infinite;
  padding: 1em 1em 0 1em;
}
.about .img img:hover{
  animation: none;
  padding-bottom: 1em;
  content: url('https://media.tenor.com/HHZOPnpoWPMAAAAM/why-you-lying.gif');
}
.about .data{
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.projects{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid var(--sp-col);
  border-radius: 8px;
  padding: .5em;
}
.project{
  max-width: 30%;
  min-width: 250px;
  border: 1px solid var(--sp-col);
  padding: .5em;
  border-radius: 4px;
  margin: .5em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  text-align: center;
}
.project:hover{
  transition: 100ms;
  box-shadow: 1px 1px 10px 4px var(--sp-col) inset, 1px 1px 10px 4px var(--sp-col);
}
.project h2{
  text-align: center;
  color: var(--sp-col);
  border-bottom: 1px solid var(--sp-col);
  margin-bottom: .5em;
}
.p-btn{
  border: 1px solid var(--light);
  padding: .3em .5em;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--sp-col);
  text-align: center;
  color: var(--light);
}
.skill{
  width: 20%;
  min-width: 200px;
  border: 1px solid var(--sp-col);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: .5em;
  padding: .5em;
  text-transform: uppercase;
  text-align: center;
}
.skill h3{
  margin-bottom: .6em;
}
.skill .progressbar{
  width: 100%;
  background-color: var(--light);
  border: 1px solid var(--sp-col);
  border-radius: 4px;
}
.skill .progressbar .progress{
  background-color: var(--sp-col);
  border-radius: 4px;
  padding: 0.2em .5em;
  font-weight: bold;
}
.video{
  width: 90%;
  height: 80vh;
  margin: auto;
  padding-top: 1em;
}
.form{
  width: 60%;
  border: 1px solid var(--sp-col);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em;
  margin: auto;
  /* box-shadow: 1px 1px 5px 2px var(--sp-col) inset, 1px 1px 10px 4px var(--sp-col); */
  padding-bottom: 1em;
}
.form .form-data{
  width: 100%;
  text-align: center;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  gap: .2em;
}
.form .form-data label{
  font-size: 1.2em;
  text-align: left;
}
.form .form-data input, textarea{
  font-size: 1.1em;
  padding: .2em .5em;
  border: none;
  outline: none;
  border-radius: 8px;
}
.form button{
  width: fit-content;
  padding: .2em 1em;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid var(--sp-col);
  background-color: var(--sp-col);
  box-shadow: 0px 0px 5px 1px var(--light);
}

@keyframes bs{
  50%{
    transform: scale(1.1, 1.1);
  }
  100%{
    transform: scale(1, 1);
  }
}
/* media query */
@media all and (width < 650px){
  .mainMenu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 60%;
    background-color: var(--dark);
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    transition: right 1s ease-in-out;
    z-index: 1;
  }
  .logo{
    position: absolute;
    left: 1em;
  }
  .openMenu, .closeMenu{
    display: block;
    position: absolute;
    right: .3em;
  }
  .closeMenu{
    top: 1em;
    right: 1em;
  }
  #menu:checked ~ .mainMenu{
    right: 0;
  }
}

@media all and (width < 500px){
  .mainMenu{
    width: 100%;
  }
}

@media all and (width < 750px){
  .about{
    flex-direction: column;
  }
  .about .img, .data{
    width: 100%;
    text-align: center;
  }
  .about .data {
    width: 100%;
    text-align: center;
    padding: 1.5em;
    gap: 1.5em;
  }
  .about .data > h1{
    width: 100%;
    text-align: center;
  }
}