:root {
  --dark: rgb(41, 40, 40);
  --light: rgb(201, 191, 191);
  --sp-col: rgb(10, 138, 212);
  --dark-1: rgb(32, 31, 31);
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background: var(--dark-1);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--sp-col);
  border: 1px solid var(--light);
  border-radius: 8px;
}
body {
  background-color: var(--dark-1);
  width: 100%;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.navbar {
  width: 100%;
  min-height: 50px;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 20px 4px rgb(39, 38, 38);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.logo {
  font-size: 2em;
  color: var(--sp-col);
  font-weight: bolder;
  cursor: pointer;
}
.openMenu,
.closeMenu,
#menu {
  font-size: 2em;
  color: var(--sp-col);
  cursor: pointer;
  display: none;
}
.mainMenu {
  width: 60%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mainMenu a {
  text-decoration: none;
  color: var(--light);
  font-weight: bold;
  transition: all .3s ease;
}
.mainMenu a:hover {
  padding: 0.3em 0;
  color: var(--sp-col);
  border-bottom: 1px solid var(--sp-col);
  border-top: 1px solid var(--sp-col);
}
.active {
  color: var(--sp-col) !important;
  border-bottom: 1px solid var(--sp-col);
  border-top: 1px solid var(--sp-col);
  padding: 0.3em 0;
}
.nav-social{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-around;
  margin: 1.5em 0;
}
.nav-social a {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border: 1px solid var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color: white;
}
.nav-social a:hover {
  background-color: var(--sp-col);
  transform: scale(1.2, 1.2);
}
.nav-social a:nth-child(1) {
  color: var(--dark-1);
}
.nav-social a:nth-child(2) {
  color: #0a66c2;
}
.nav-social a:nth-child(3) {
  color: rgb(223, 78, 25);
}
.nav-social a:nth-child(1):hover {
  background-color: var(--dark-1);
  color: white;
}
.nav-social a:nth-child(2):hover {
  background-color: #0a66c2;
  color: white;
}
.nav-social a:nth-child(3):hover {
  background-color: rgb(223, 78, 25);
  color: white;
}

.container {
  width: 100%;
  min-height: 92.1vh;
  background-color: var(--dark-1);
  color: var(--light);
  padding-bottom: 0.5em;
  margin-top: 4em;
}
.container > h1 {
  margin-bottom: 0.5em;
}
.image {
  width: 100%;
  min-height: 92.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1em;
}
.splash{
  position: absolute;
  max-width: 400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.h-img{
  width: 100%;
  max-width: 500px;
  position: relative;
  border: 1px solid var(--sp-col);
  overflow: hidden;
  transition: all 1s ease;
}
.h-img:hover{
  border-radius: 100px;
}

.h-img > img {
  max-width: 500px;
  width: 100%;
  padding: 0.5em;
  filter: drop-shadow(0 0 0.5em var(--sp-col));
}
.image h1 {
  color: goldenrod;
  text-align: center;
}
.social-links {
  width: 50%;
  display: flexbox;
  column-count: 3;
  justify-content: space-around;
  margin-bottom: 1em;
}
.social-links a {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border: 1px solid var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color: white;
}
.social-links a:hover {
  background-color: var(--sp-col);
  transform: scale(1.2, 1.2);
}
.social-links a:nth-child(1) {
  color: var(--dark-1);
}
.social-links a:nth-child(2) {
  color: #0a66c2;
}
.social-links a:nth-child(3) {
  color: rgb(223, 78, 25);
}
.social-links a:nth-child(4) {
  color: #316FF6;
}
.social-links a:nth-child(5) {
  color: #cd486b;
}
.social-links a:nth-child(1):hover {
  background-color: var(--dark-1);
  color: white;
}
.social-links a:nth-child(2):hover {
  background-color: #0a66c2;
  color: white;
}
.social-links a:nth-child(3):hover {
  background-color: rgb(223, 78, 25);
  color: white;
}
.social-links a:nth-child(4):hover {
  background-color: #316FF6;
  color: white;
}
.social-links a:nth-child(5):hover {
  background-color: #cd486b;
  color: white;
}

.btns {
  display: inline-block;
  margin-bottom: 2em;
}
.btns a:nth-of-type(1) {
  transition: 0.3s;
  background-color: green;
  color: white;
}
.btns a:nth-of-type(1):hover {
  letter-spacing: 2px;
}
.btns a:nth-of-type(2) {
  transition: 0.3s;
  background-color: orangered;
  color: white;
}
.btns a:nth-of-type(2):hover {
  letter-spacing: 2px;
}

.image a {
  padding: 0.5em 0.5em;
  margin: 0 1em;
  text-decoration: none;
  font-weight: bold;
}
.about {
  width: 100%;
  display: flex;
}

.about .img,
.data {
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
.about .img img {
  width: 80%;
  max-width: 400px;
  border: 1px solid var(--sp-col);
  height: auto;
  filter: drop-shadow(0 0 0.75em var(--sp-col));
  animation: bs 1s ease infinite;
  padding: 1em 1em 0 1em;
}
.about .img img:hover {
  animation: none;
  padding-bottom: 1em;
  content: url("https://media.tenor.com/HHZOPnpoWPMAAAAM/why-you-lying.gif");
}
.about .data {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid var(--sp-col);
  border-radius: 8px;
  padding: 0.5em;
}
.project {
  max-width: 30%;
  min-width: 250px;
  border: 1px solid var(--sp-col);
  padding: 0.5em;
  border-radius: 4px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}
.project:hover {
  transition: 100ms;
  box-shadow: 1px 1px 10px 4px var(--sp-col) inset,
    1px 1px 10px 4px var(--sp-col);
}
.project h2 {
  text-align: center;
  color: var(--sp-col);
  border-bottom: 1px solid var(--sp-col);
  margin-bottom: 0.5em;
}
.p-btn {
  border: 1px solid var(--light);
  padding: 0.3em 0.5em;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--sp-col);
  text-align: center;
  color: var(--light);
}
.skill {
  width: 20%;
  min-width: 200px;
  border: 1px solid var(--sp-col);
  display: flex auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all .3s ease;
}
.skill:hover{
  box-shadow: 1px 1px 10px 1px var(--sp-col);
  transform: translate(0px, -10px);
}
.skill h3 {
  margin-bottom: 0.6em;
}
.skill .progressbar {
  width: 100%;
  background-color: var(--light);
  border: 1px solid var(--sp-col);
  border-radius: 4px;
}
.skill .progressbar .progress {
  background-color: var(--sp-col);
  border-radius: 4px;
  padding: 0.2em 0.5em;
  font-weight: bold;
}
.video {
  width: 90%;
  height: 80vh;
  margin: auto;
  padding-top: 1em;
}
.form {
  width: 60%;
  border: 1px solid var(--sp-col);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em;
  margin: auto;
  padding-bottom: 1em;
}
.form .form-data {
  width: 100%;
  text-align: center;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.form .form-data label {
  font-size: 1.2em;
  text-align: left;
}
.form .form-data input,
textarea {
  font-size: 1.1em;
  padding: 0.2em 0.5em;
  border: none;
  outline: none;
  border-radius: 8px;
}
.form button {
  width: fit-content;
  padding: 0.2em 1em;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid var(--sp-col);
  background-color: var(--sp-col);
  box-shadow: 0px 0px 5px 1px var(--light);
}

@keyframes bs {
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* media query */
@media all and (width < 650px) {
  .mainMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 60%;
    background-color: var(--dark);
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    transition: right 1s ease-in-out;
    z-index: 1;
  }
  .logo {
    position: absolute;
    left: 1em;
  }
  .openMenu,
  .closeMenu {
    display: block;
    position: absolute;
    right: 0.3em;
  }
  .closeMenu {
    top: 1em;
    right: 1em;
  }
  #menu:checked ~ .mainMenu {
    right: 0;
  }
  .nav-social{
    display: flex;
  }
}

@media all and (width < 500px) {
  .mainMenu {
    width: 100%;
  }
  .social-links{
    width: 100%;
  }
}

@media all and (width < 750px) {
  .about {
    flex-direction: column;
  }
  .about .img,
  .data {
    width: 100%;
    text-align: center;
  }
  .about .data {
    width: 100%;
    text-align: center;
    padding: 1.5em;
    gap: 1.5em;
  }
  .about .data > h1 {
    width: 100%;
    text-align: center;
  }
}
@media all and (width < 667px) {
  .skill {
    width: 100%;
  }
  .form {
    width: 95%;
  }
}
@media all and (width < 567px) {
  .project {
    min-width: 100%;
  }
}
